@import url('https://fonts.googleapis.com/css2?family=Allison&family=Lato&display=swap');
.category {
  color: #F9D59F;
  font-family: Lato;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.border {
  border-color: #f9d59f !important;
  position: relative;
  border-radius: 11px;
}
.body {
    font-family:Lato !important ;
    font-size: 16px;
    background-size: 100%;
	  background-repeat: no-repeat;
    height: 100%;
background-color: #2D2C2A;
color: #f9d59f
  
}
.inside 
{
  background-color: #2D2C2A;
}
  .place
 {
   font-size: 2rem;
   text-align: center;
 }
 .name {
   font-family: Allison;
   font-size: 8rem;
   text-align: center;
 }
 .brackets{
   font-size: 1rem;
  margin-top: 2px; 
  padding-top: 0px;
}
.lowBracket{
  margin-bottom: 2px;
  padding-bottom: 2px;
}
.uzup{
  justify-items: end;
}
.noWrap {
  white-space: nowrap;
  text-align: end;  
}

@media screen and (max-width: 700px){
.name {
  font-size: 4rem;
  line-height: 3.5rem;
}
.place
{
  font-size: 1.5rem;
  text-align: center;
}
.body{
  font-size: 11px;
}
.brackets{
  font-size: 0.6rem;
 margin-top: 2px; 
 padding-top: 0px;
}
.lowBracket{
 margin-bottom: 2px;
 padding-bottom: 2px;
}
.category {
  color: #F9D59F;
  font-family: Lato;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 450px){
.uzup1{
  padding-left: 0px;
}
.uzup2{
  padding-left: 0px;
  padding-right: 20px;
}
.category {
  color: #F9D59F;
  font-family: Lato;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.name {
  font-size: 4rem;
  line-height: 3.5rem;
}
/* .border-4 {
  border-width: 2px!important
} */